@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .banner__pic
    width: 67%
    bottom: 71px


  .services
    padding-top: 70px


  .examples-list__item
    .picture
      max-width: 100%
      display: block
      height: auto
  .examples-list__corporate
    .picture
      left: 20px
      bottom: -77px
  .examples-list__landing
    .picture
      margin-left: 18px

  .examples-list__full
    .picture
      width: auto
      right: -55px
  .examples-list__shop
    .picture
      margin-left: 15px
  .examples-list__mobile
    .picture
      height: 305px
      margin-left: 50px
  .examples-list__logo .picture
    margin-left: 40px
  .examples-list__style .picture
    margin-left: 40px


  .features-item
    margin-left: 0
  .features-item__picture
    margin-right: 50px


  .scheme__lg
    img
      width: 100%
      height: auto


  .map .balloon
    left: 135px





// ≥992px
+media-breakpoint-down(md)

  .banner__text
    width: 100%
    justify-content: flex-start
  .banner__text .accent-term
    right: 0
    top: 33px
  .banner .h1
    margin-top: 70px
  .banner__pic
    width: 74%
    bottom: 86px



  .services__top-box
    flex-direction: column
  .services__circles
    width: 100%
    margin-top: 1px
  .services .banner
    background-size: 100% 100%
  .services .banner__inner
    height: 340px
  .services .banner__pic
    bottom: 0
  .services .banner__text .accent-term
    margin: 20px 0 0
  .services .banner .h1
    margin-bottom: 20px



  .examples-list__item
    width: 100%
  .examples-list__corporate
    .picture
      position: relative
      left: auto
      bottom: auto
      margin: 0 auto 0
  .examples-list__landing .picture
    margin: -30px auto 44px

  .examples-list__full
    flex-direction: column
    height: 700px
    padding-left: 0
    justify-content: center
    padding-top: 0
    .examples-list__text
      width: 70%
      margin: -30px auto 0
      text-align: center
      order: 2
    .picture
      position: relative
      order: 1
      height: 450px
      width: 80%
      margin-left: 30px
  .examples-list__shop
    padding: 0
    .picture
      margin: -20px auto 50px
  .examples-list__mobile
    height: 670px
    .picture
      height: auto
      margin: -17px auto 0
  .examples-list__logo
    .picture
      margin: 60px auto 40px
  .examples-list__style .picture
    margin: 0 auto


  .features-item
    width: 100%
    height: 800px
  .features-item__picture
    max-width: 50%
    height: 700px
  .features-slider .slick-dots
    left: -145px


  .steps
    background-size: cover
  .steps-list
    flex-direction: column
    .steps-item
      flex-direction: row
      display: flex
      width: 100%
      align-items: flex-start
      margin-bottom: 40px
    .steps-item__top
      flex-direction: column
      margin-bottom: 0
      margin-right: 30px
      position: relative
      .numb
        z-index: 10
      .steps-line
        transform: rotate(90deg)
        width: 290px
        top: auto
        bottom: -80px
        margin: 0
        position: absolute
        z-index: 1
  .steps-item__description
    padding-top: 20px


  .map .balloon
    left: 0px
  .map__card
    padding-left: 15px
  .map__card-info-r
    display: block









// ≥768px
+media-breakpoint-down(sm)

  body
    font-size: 14px

  .main-line__box
    flex-direction: column
  .main-line__box__logo
    margin-bottom: 20px
  .main-line__box__last
    flex-direction: column
  .main-line__phone
    margin-right: 0


  .banner
    background-size: 100% 90%
  .banner__inner
    height: 500px

  .banner__pic
    right: 0
    bottom: 13px


  .services .banner__pic
    width: 65%
  .services .banner__inner
    padding-left: 30px
  .services .banner__text
    justify-content: flex-start


  .examples-list
    margin-top: 30px
  .examples-list__corporate
    padding-top: 40px
    height: 600px
  .examples-list__landing
    height: 600px
  .examples-list__full
    padding-top: 0
    align-items: center
    justify-content: center
    padding-bottom: 40px
    height: 600px
    .picture
      margin-left: -100px
      height: 346px
      width: 71%
  .examples-list__shop
    height: 650px
  .examples-list__mobile
    padding-top: 40px
    height: 600px
  .examples-list__logo
    height: 630px
  .examples-list__style
    padding-top: 40px
    height: 600px




  //.services
  //  padding: 70px 0
  //.examples-list__pic-bottom .picture
  //  margin-bottom: 0
  //.examples-list__full
  //  flex-direction: column
  //  height: auto
  //  padding-top: 40px
  //  padding-left: 0
  //  .examples-list__text
  //    width: 80%
  //    margin: 0 auto
  //    text-align: center
  //  .picture
  //    width: 100%
  //
  //.examples-list__pic-bottom
  //  padding-top: 40px

  .portfolio-slider .slick-slide img
    max-width: 600px
    max-height: 590px


  .features-slider
    margin-bottom: 0
  .features-slider .slick-dots
    left: -198px
  .features-item
    height: 700px
    overflow: hidden
  .features-item__picture
    height: 600px
    margin-right: 20px
  .features-item__description
    width: 40%


  .steps
    padding: 70px 0
    .section-heading
      margin-bottom: 35px



  .team
    padding: 70px 0
    .section-heading
      margin-bottom: 50px
  .persons-photo
    margin-bottom: 20px
    img
      width: 100%
      height: auto
  .persons .slick-dots
    margin-top: 40px
  .slider .slick-dots
    width: 80%












// ≥576px
+media-breakpoint-down(xs)

  .features
    padding: 70px 0
  .features .section-heading
    margin-left: 0
    text-align: left
  .features-item
    flex-wrap: wrap
    justify-content: flex-end
  .features-item__picture
    max-width: 90%
    height: 300px
    margin-right: 0
    order: 2
  .features-item__description
    width: 90%
    margin-bottom: 20px
  .features-item__icon
    margin-bottom: 10px


  .portfolio-slider .slick-slide
    margin-left: -5px
    margin-right: -5px
    img
      max-width: 400px
      max-height: 340px











@media (max-width: 480px)


  .banner
    background-size: 100% 94%
  .banner__inner
    height: 533px

  .banner__pic
    width: 100%
    bottom: 0

  .services__circles
    flex-wrap: wrap
    justify-content: space-around


  .features-slider .slick-dots
    left: -40%

  .steps-item__description .h4
    font-size: 18px
  .steps-list .steps-item
    margin-bottom: 20px
  .steps-list .steps-item__top .steps-line
    bottom: -78px


  .map__card
    width: 100%
    top: -957px


@media (max-width: 360px)

  .banner__inner
    height: 470px



  .services .banner__inner
    padding: 0 30px
    .btn
      width: 100%


@media (max-width: 350px)
  .steps-list .steps-item__top .steps-line
    width: 379px
    bottom: -130px








/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
