.portfolio
  text-align: center
  background: #333333
  padding: 100px 0 80px
  color: #ffffff
  .section-heading
    margin-bottom: 25px
  &__description
    width: 90%
    margin: 0 auto 75px

  &-slider
    .slick-dots
      margin-top: 52px
    .slick-slide
      outline: none
      text-align: center
      //margin-left: -15px
      //margin-right: -15px
      &:focus
        outline: none
      img
        margin: 0 auto
        padding-right: 10px
