.services
  padding: 15px 0 100px
  .section-heading
    margin-bottom: 25px

  &__top-box
    display: flex
    width: 100%
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 30px
  &__circles
    width: 40%
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: -30px
    .circles-item
      width: 122px
      height: 132px
      display: flex
      flex-direction: column
      text-align: center
      align-items: center
      justify-content: center
      text-transform: uppercase
      color: #6c6c6c
      background: url("../img/serv-circ.png") no-repeat
      background-position: 0 100%
      background-size: 90%
      margin-left: 10px
      line-height: 1.2
      .circles-top
        font-size: 10px
      .circles-numb
        font-size: 45px
        font-family: $light-font
      .circles-bot
        font-size: 7px

  .banner
    background: #f6f3ff url("../img/services-banner-bg.png") no-repeat
    background-size: contain
    background-position: 100% 100%
    &__inner
      height: 290px
      padding-left: 100px
    .h1
      font-size: 2.4em
      margin-top: 0
      //margin-bottom: 0
    &__text
      align-items: flex-start
      justify-content: center
      .accent-term
        position: relative
        right: auto
        top: auto
        display: inline-block
        //margin-top: -30px
        margin-bottom: 10px
    &__pic
      width: 45%
      height: auto
      bottom: 28px
      right: 35px



.examples-list
  margin-top: 75px
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  &__item
    width: 49%
    text-align: center
    height: 700px
    margin-bottom: 20px
  &__text
    width: 70%
    margin: 0 auto
  &__heading
    font-family: $light-font
    font-size: 2em
    margin-bottom: 33px
    line-height: 1.2
  &__description
    margin-bottom: 30px
  &__price
    font-size: 2em
  .picture
    text-align: center
    display: inline-block
    position: relative
    z-index: 0
  .item-blue
    background: #ebf4ff
  .item-pink
    background: #fff5ee


  //&__pic-bottom
    padding-top: 60px
    .picture
      margin-bottom: -25px
  //&__pic-top
    padding-bottom: 60px
    .picture
      margin-top: -55px



  &__full
    width: 100%
    height: 440px
    position: relative
    display: flex
    padding-left: 80px
    padding-top: 60px
    justify-content: space-between
    .examples-list__text
      width: 35%
      text-align: left
      margin: 0
    .picture
      position: absolute
      right: 0
      top: -57px


  &__corporate
    position: relative
    height: 700px
    padding-top: 65px
    .picture
      position: absolute
      bottom: -30px
      left: 80px
      box-shadow: 0 0 50px rgba(187, 187, 187, 0.4)




  &__landing
    height: 700px
    .picture
      margin-bottom: 44px
      margin-top: -30px
      box-shadow: 0 0 60px rgba(187, 187, 187, 0.4)

  &__shop
    .picture
      margin-top: -40px
      margin-bottom: 50px
  &__mobile
    padding-top: 65px
    .picture
      margin-top: -15px
      height: 373px
      margin-left: 20px

  &__logo
    .picture
      margin-top: 35px
      margin-bottom: 40px
    .examples-list__heading
      margin-bottom: 45px
    .examples-list__description
      margin-bottom: 40px

  &__style
    padding-top: 60px
    .picture
      margin-top: -15px






